.loginForm {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginBox {
    /* background-color: green; */
    width: 100%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid black
}

.loginBox input {
    width: 95%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    border: 1px solid #11678c;
}

.loginBox button {
    width: fit-content;
    padding: 0.5rem 2rem;
    margin: 1rem;
    font-family: sans-serif;
    border: none;
    border-radius: 11px;
    color: white;
    background: green;
}

.warning {
    margin: 0.2rem 1rem;
    color: red
}


/* boxxxxxx */
.accountWindow {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.dashboard {

    width: 100%;

    min-height: 10rem
}

.wrapper {
    /* background-color: skyblue; */
    width: 100%;
}

.box {
    background-color: yellow;
    height: 9rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    /* gap: 4rem; */
    margin-top: 1rem;
}

.box-1 {
    background: #19bdce;
    backdrop-filter: blur(50px);
}

.box-2 {
    background-color: #ff4a4a;
}

.box-3 {
    background-color: orange;
}

.inputBoxWrapper {
    margin-top: 3rem;
}

.inputBox {
    width: 95%;
    background-color: #f5f5dc66;
    display: flex;
    flex-direction: column;
    height: 16rem;
    justify-content: center;
    box-shadow: 0px 2px 19px 1px #22181873;
    border-radius: 10px;
}

.inputBox h3 {
    margin: 0.5rem 1rem;
}

.inputBox input {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #0000002e;
}

.inputBox button {
    margin: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    background: green;
    color: white;
    border-radius: 10px;
}

#depositInvalid {
    margin: 0.2rem 1rem;
    color: red
}

#withdrawInvalid {
    margin: 0.2rem 1rem;
    color: red
}

.loginSection {
    display: flex;
    /* background-color: red; */
    width: 100%;
    justify-content: end;
    margin-top: 2rem;
}

#logOutBtn {
    width: fit-content;
    margin-right: 1rem;
    border-radius: 10px;
}

.toggle {
    display: none;
}